/* Alert */
#alrt {
  z-index: 100;
  position: fixed;
  text-align: center;
  width: 30%;
  top: 95%;
  left: 35%;
  background-color: black;
  color: white;
  opacity: 0.8;
  line-height: 25px;
}
/* Login*/
.login_form {
  padding-top: 10%;
}
.login_button {
  background-color: red;
  border-radius: 20px;
  width: 30%;
  height: 35px;
  border: none;
  color: white;
}
.login_form input {
  border-radius: 0;
  border-width: 0 0 1px 0;
  border-color: black;
}
/*Cart*/
.cart {
  overflow: auto;
}
.cart_item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 20%;
  margin: 30px 0;
}
.cart_item img {
  width: 20%;
  border: 0.5px solid black;
}
.cart_item span {
  display: flex;
  align-items: center;
  height: 100%;
}
.total {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 5%;
}
.order_submit_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: 10%;
  float: right;
  background-color: red;
  color: white;
  border-radius: 30px;
}

/* Change profile */
.changeprofile {
  margin: auto;
}
.profile_form {
  width: 50%;
}
